
@{
    ViewBag.Title = "Contact";
    Layout = "~/Areas/Admin/Views/Shared/VendorLayout.cshtml";
}

<h2>This is Contact Page</h2>
<a href="/Admin/VendorDashboard/Index">/Admin/VendorDashboard/Index</a>

