
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/VendorLayout.cshtml";
}
<main>
    <div>
        <h1>Welcome to Vendor Dashboard</h1>
    </div>
    <a href="/Admin/VendorDashboard/Contact">/Admin/VendorDashboard/Contact</a>
</main>

